.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 60%;
    border-radius: 6px;
    background-color: whitesmoke;
}
