.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(28,44,56);
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 60%;
    border-radius: 6px;
    background-color: whitesmoke;
    padding: 1rem;
    gap: 1rem;
}

.mainTitle {
    font-size: 2rem;
}
