.displayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 1rem 0;
    gap: 1rem;
    background-color: whitesmoke;
}

.displayTitle {
    font-size: 2rem;
    color: rgb(248,82,14);
}

.displayImgHolder {
    width: 90vw;
    height: 90vh;
    overflow: scroll;
}

.displayUrlWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.displayUrlLabel {
    font-size: 1.25rem;
}

.displayUrl {
    padding: 1rem;
    text-align: center;
}

.displayUrl > a {
    color: rgb(248,82,14);
}
